<div id="browse" class="container" *ngFor = "let user of users">

	<div class="row border rounded bg-light mt-4">
		<div class="col-sm-3 p-0">
			<div class="my-auto p-2 d-block d-flex justify-content-center" (click) = "getDetailedView(user)"
			>
				<img class="img-fluid" [src]="user.user.userAvatarUrl" alt="{{user.user.userAvatarUrl}}" >
			</div>
		</div>
		<div class="col-sm-5">
			<div class="my-auto py-5">
				<p class="userHandle">{{user.user.userHandle}}</p>
				<p class="userAboutMe">{{user.userDetail.userDetailAboutMe}}</p>
			</div>
		</div>
		<div class="col-sm-2">
			<!--todo add letter grade-->
			<div class="my-auto py-5">
				<p class="letterGrade">a</p>
			</div>
		</div>
		<div class="col-sm-2">
			<!--todo add matching ability to heart-->
			<div class="my-auto py-5">
			</div>
		</div>
	</div>
</div>