<div class="container" *ngFor = "let user of users">

	<div class="row border rounded bg-light mt-4">
		<div class="col-sm-3">
			<div class="my-auto pt-5 d-block d-flex justify-content-center">
				<img class="img-fluid" [src]="user.userAvatarUrl" alt="{{user.userAvatarUrl}}">
			</div>
		</div>
		<div class="col-sm-5">
			<div class="my-auto py-5">
				<p class="userHandle">{{user.userHandle}}</p>
				<p class="userAboutMe">this is where about me will be</p>
			</div>
		</div>
		<div class="col-sm-2">
			<!--todo add letter grade-->
			<div class="my-auto py-5">
				<p class="letterGrade">a</p>
			</div>
		</div>
		<div class="col-sm-2">
			<!--todo add matching ability to heart-->
			<div class="my-auto py-5">
			</div>
		</div>
	</div>
</div>