<header>
	<div class="text-center">

		<p class="h1 p-3">
			<a href="login-modal.php"><img src="images/ddd-icon-v3.png" alt="Deep Dive Dating"/></a>
			Deep Dive Dating
		</p>

	</div>
	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link" href="profile.php">My Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="browse.php">Browse</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="my-matches.php">My Matches</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="logout-modal.php">Sign Out</a>
		</li>
	</ul>
</header>
<router-outlet></router-outlet>
<footer class="container-fluid text-right fixed-bottom">
	<a href="#about-us" >About Us</a>
</footer>