body {
	background-color: deepskyblue;
}

.navbar, header, footer {
	background-color: whitesmoke;
}

img {
	height: 10rem;
}

i {
	font-size: 10rem;
	color: hotpink;
}

button > i {
	font-size: 1rem;
}