<div class="container py-3 mb-5 mt-3 bg-light border rounded">
	<div class="container py-2">
		<h4>Please fill out our questionnaire.</h4>
		<p>These questions will be used to calculate your DanScore.</p>
	</div>
	<div class="container">

		<!--dynamic form commented out in and replaced with hardcoded form in order to get screenshots-->
		<!--<form [formGroup]="questionForm"(submit)="getForm()">-->
			<!--<ng-container formArrayName="questions" *ngFor="let question of questions; index as bullshit	">-->
				<!--<div class="form-group"[formGroupName]="bullshit" >-->
					<!--<label>{{question.questionContent}}</label><br>-->
					<!--<input type="radio" name="question" value="answerA"/>answer a<br>-->
					<!--<input type="radio" name="question" value="answerB"/>answer b<br>-->
					<!--<input type="radio" name="question" value="answerC"/>answer c<br>-->
				<!--</div>-->
			<!--</ng-container>-->
			<!--<button type="submit">click me</button>-->
		<!--</form>-->
	</div>
</div>
