/* You can add global styles to this file, and also import other style files */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');


header, footer {
	background-color: whitesmoke;
}


body {
	background-color: deepskyblue;
	}

img {
	height: 10rem;
}

i, .letterGrade, .fa-heart {
	font-size: 10rem;
	color: hotpink;
}

button > i {
	font-size: 1rem;
}

#browse {
	margin-bottom: 30px;
}

#card {
	display: block;
	margin: 5px auto;
	margin-bottom: 30px;
	flex: 1 0 auto;
}

#group-photo {
	display: block;
	margin: 0 auto;
}

.letterGrade, .fa-heart {
	font-size: 10rem;
}

.footer {
	margin-top: auto;
}
